body {
  background-color: black;
}

.appBody {
  background-image: url(../images/notepad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #000000;
  font-weight: bold;
}

.header {
  width: 100%;
  display: block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #000000;
}

.main-body {
  padding: 0 25px 0px 80px;
}

h1 {
  text-align: center;
}

h1.top {
  padding: 100px 0 0 0;
}

input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #000000;
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #000000;
}

li {
  list-style: none;
  padding: 0 25px 0px 0px;
  margin-left: -35px;
}

.stillToDo{
  color: #ff0000;
}

.completed {
  text-decoration: line-through;
  color: #026B02;
  font-weight: bold;
}
